* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #111111 0%, #3d3d3d 100%);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
header {
  font-size: 2rem;
}

.App{
  width: 100vw;
  height: 100vh;
}

.container{
  background-image: linear-gradient(120deg, #111111 0%, #3d3d3d 100%);
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-basis:100%;
  position:relative
  /* flex-direction: column; */

} 

.form-container{
  display:flex;
  align-items: center;
  height: 100%;
  width: 80vw;
  justify-content: center;
  /* flex-direction: column; */
  /* justify-content: space-between; */

}



.form-divider-1{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* flex:3; */
}

.form-divider-1-1{
  display: flex;
}

.form-divider-2{
  /* flex:1; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-divider-2-2{
  display: flex;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* this changes input container size */

form input,
form button {
  padding: 8px;
  font-size: 2rem;
  border: none;
  height: 100%;
  background: white;
}



form button {
  color: #ffffff;
  background: #ff6f47;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #717171;
  color: white;
} 
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 40%;
  list-style: none;
}
.todo-input-number {
  width: 90px;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

/* this changes filter size */

.filter-todo {
  /* padding: 14px; */
  /* font-size: 2rem; */
  padding: 8px;
  font-size: 2rem;
  /* height: 20px; */
  width: 100%;
  margin-left: 10px;
}

.filter-todo option {
  font-size: 20px;
}

.todo li {
  flex: 1;
}
.timer-btn{
  background-color: #ff6f47;
  color: #ffffff;
  /* font-size: 48px; */
  display: flex;
  align-items: center;
  padding: 0;
  /* margin-left: 10px; */
}



.timer-icon{
  height: 100%;

}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  /* height: 100%; */
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  /* margin: 1rem; */
  position: relative;
  overflow: hidden;
  padding: 1px;
  font-size: 2rem;
  /* height: 100%; */
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
  right: 0;
  /* padding: 1rem; */
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}

.todo-item{
  max-width: 60vw;
  overflow-x: scroll;
}

.timer-bottom{
  font-size: 75px;
  position: fixed;
  bottom: 0px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px;
  background-color: #ff6f47;
  color: #ffffff;
  border-radius: 10px;
}

.timer-btn-todo{
  color: #ffffff;
}

.timer-trash-btn{
  background-color: #ba3a31;
}

/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/



form input{
  /* width: 50px; */
}


@media only screen and (max-width: 1050px) {

  .form-container{
    width:95vw;
  }

}


@media only screen and (max-width: 950px) {

  .form-container{
    flex-direction: column;
    gap: 10px;
  }

  .todo-item{
    width: 60vw;
    overflow-x: scroll;
  }
  

}
@media only screen and (max-width: 950px) {

  .filter-todo {
    padding: 8px;
    font-size: 1.7rem;
    overflow: hidden;
    margin: 0;
  }
  form input,
  form button {
  padding: 8px;
  font-size: 1.7rem;
}

}

@media only screen and (max-width: 500px) {

  .filter-todo {
    padding: 8px;
    font-size: 1.5rem;
    overflow: hidden;
    margin: 0;
  }
  form input,
form button {
  padding: 8px;
  font-size: 1.5rem;
}
form input{
  width: 65vw;
}
.todo-input-number{
  width: 15vw;
}

.todo-item{
  width: 40vw;
  overflow:scroll;
  overflow-y: hidden;
}

.complete-btn, .trash-btn{
  width: 13vw;
}

.timer-bottom{
  font-size: 65px;
  width: 65px;
}

}